<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Phones</th>
    <th scope="col">Address</th>
    <th scope="col">Added On</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let c of clients; index as i" (click)="listIntByClient(c.id)">
    <td>{{ c.id }}</td>
    <td>
      <ng-template #popContent><app-interactions [ints] = 'ints'></app-interactions></ng-template>
      <ng-template #popTitle>Interactions</ng-template>
      <button type="button" class="btn " [ngbPopover]="popContent" [popoverTitle]="popTitle">
        {{ c.name }}
      </button>
    </td>
    <td>{{ c.email }}</td>
    <td>{{ c.phones }}</td>
    <td>{{ c.address }}</td>
    <td>{{ c.addedOn }}</td>
  </tr>
  </tbody>
</table>
<br>
