<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Designation</th>
    <th scope="col">
      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Upsert Employee</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="id">Id - Leave Id as 0 for insertion</label>
              <div class="input-group">
                <input [formControl]="id" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label for="empName">Name</label>
              <div class="input-group">
                <input [formControl]="empName" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label for="empPassword">Password</label>
              <div class="input-group">
                <input [formControl]="empPassword" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label for="empDesignation">Designation</label>
              <div class="input-group">
                <input [formControl]="empDesignation" class="form-control">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Upsert</button>
        </div>
      </ng-template>
      
      <button class="btn btn-outline-primary" (click)="open(content)">Upsert Employee</button>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let emp of emps; index as i" (click)="listIntByEmp(emp.id)">
    <td>{{ emp.id }}</td>
    <td>
      <ng-template #popContent><app-interactions [ints] = 'ints'></app-interactions></ng-template>
      <ng-template #popTitle>Interactions</ng-template>
      <button type="button" class="btn name" [ngbPopover]="popContent" [popoverTitle]="popTitle">
        {{ emp.name }}
      </button>
    </td>
    <td>{{ emp.designation}}</td>
    <td>
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Operations</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <!-- <button ngbDropdownItem (click)="updateEmp(emp.id)">Update</button> -->
            <button ngbDropdownItem (click)="deleteEmp(emp.id)">Delete</button>
          </div>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<br>


<!-- *ngIf="ints==undefined" -->